<div class="event-container">
    <div class="container ml-auto mx-auto text-center pbt-50">
        <img src="../../../assets/images/title/Event.png" class="title-img" alt="">
        <h1 class="page-title">Upcoming Event</h1>
        <div aria-label="breadcrumb page-breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item ">
                    <a onclick="clickNavigation('/trang-chu')" [routerLink]="['/trang-chu']">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <a onclick="clickNavigation('/su-kien')" [routerLink]="['/su-kien']">Event</a>
                </li>
            </ul>
        </div>
        <p>{{'page-events.general.msg1' | translate}} <br> {{'page-events.general.msg2' | translate}}</p>
        <div style="min-height: 500px">

        </div>
    </div>
</div>