<div class="aboutus-stories pbt-50">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mb-5 mt-5">
        <div class=" text-center ml-auto mx-auto title ">
          <img src="../../../../assets/images/title/Benefit.png"  class="title-img">
          <h2 class="page-title mb-3 mt-3">What We Offer</h2>
        </div>
      </div>
      <div class="col-12 col-lg-6 text-center mt-5 row-benefits m-auto">
        <div class="ulli mb-5 mt-5">
          <p class="text-left">{{'page-recruitment.benefit.description' | translate}}</p>
          <ul class="text-left mt-3">
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i><p>{{'page-recruitment.benefit.benefit1' | translate}}</p></li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i><p>{{'page-recruitment.benefit.benefit2' | translate}}</p></li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i><p>{{'page-recruitment.benefit.benefit3' | translate}}</p></li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i><p>{{'page-recruitment.benefit.benefit4' | translate}}</p></li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i><p>{{'page-recruitment.benefit.benefit5' | translate}}</p></li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i><p>{{'page-recruitment.benefit.benefit6' | translate}}</p></li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i><p>{{'page-recruitment.benefit.benefit7' | translate}}</p></li>
        
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>