@import "../../../../../styles/responsive";
@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

 .list-post{
     .news-post{
        
        .date{
            .day{
               margin-bottom: -10px;
                @include font-thehill($main-font,30px,black,900);
                @include responsive(MD){
                   
               }
               @include responsive(XS){
                   margin-top: 14px;
               }
            }
            .month{
                @include font-thehill($main-font,25px,black,400);
            }
           }
            
            .title{
                @include font-thehill($main-font,30px,black,800);
                cursor: pointer;
                @include responsive(MD){
                    font-size: 25px;
                }
                @include responsive(XS){
                   font-size: 20px;
               }
            }
       
            .author{
               @include font-thehill($thin-font,14px,'','');
            }
            hr{
                margin-top: 0;
                margin-bottom: 0;
                border-top: 2px solid black;
            }
        
            .content{
                p{
                    width: 90%;
                    font-size: 15px;
                }
            }
     }
 }