<div class="aboutus-career-joinus">
  <div class="container ml-auto mx-auto text-center pt-50">
    <img src="../../../assets/images/11/4.png" alt="">
    <h1 class="page-title">Available Positions</h1>

    <div class="row tags mt-5 mb-5">
      <div class="col-lg-4 col-6 mb-4"><span>PEOPLE OPERATIONS</span></div>
      <div class="col-lg-4 col-6 mb-4"><span>PURCHASING</span></div>
      <div class="col-lg-4 col-6 mb-4"><span>ACCOUNTING</span></div>
      <div class="col-lg-4 col-6 mb-4"><span>BRAND & MARKETING</span></div>
      <div class="col-lg-4 col-6 mb-4"><span class="active">FINANCE</span></div>
      <div class="col-lg-4 col-6 mb-4"><span class="">WHOLESALE</span></div>
    </div>

    <div class="row main mt-5 mb-5">
      <div class="col-lg-3 col-12 left">
        <ul class="tabs">
          <li class="active">POSITION 1</li>
          <li>POSITION 2</li>
          <li>POSITION 3</li>
          <li>POSITION 4</li>
        </ul>
      </div>
      <div class="col-lg-9 col-12 m-auto text-left mb-5 mt-3 right">
        <div class="item">
          <div class="infomation">
            <div class="row mt-3">
              <div class="col-lg-6 col-12 mb-3">
                <div class="item-infomation m-auto">
                  <div class="row">
                    <div class="col-5 name">Job number: </div>
                    <div class="col-7 des">612175</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 mb-3">
                <div class="item-infomation m-auto">
                  <div class="row">
                    <div class="col-5 name">Date posted </div>
                    <div class="col-7 des">Apr 24, 2019</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 mb-3">
                <div class="item-infomation m-auto">
                  <div class="row">
                    <div class="col-5 name">Travel </div>
                    <div class="col-7 des">0 -25%</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 mb-3">
                <div class="item-infomation m-auto">
                  <div class="row">
                    <div class="col-5 name">Profession </div>
                    <div class="col-7 des">Business Dvelop ment & Strategy</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 mb-3">
                <div class="item-infomation m-auto">
                  <div class="row">
                    <div class="col-5 name">Role type </div>
                    <div class="col-7 des">Indivdual Contributor</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 mb-3">
                <div class="item-infomation m-auto">
                  <div class="row">
                    <div class="col-5 name">Employment type </div>
                    <div class="col-7 des">Full-Time</div>
                  </div>
                </div>
              </div>
            </div>


            <div class="description mb-3 mt-3">
              <div class="title mb-3">Job description</div>
              <ul>
                <li>Lorem ipsum dolor sit amet consectetur, adipisic</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisic</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisic</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisic</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisic</li>
              </ul>
            </div>
            <div class="description mb-3 mt-3">
              <div class="title mb-3">Expectation</div>
              <ul>
                <li>Lorem ipsum dolor sit amet consectetur, adipisic</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisic</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisic</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisic</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisic</li>
              </ul>
            </div>
          </div>


        </div>
        <p class="text-center mx-auto mt-3 check">
          <input type="checkbox" name="vehicle1" value="Bike"> I have read and understood Recruittee's privacy
          policy<br>
        </p>
      </div>
    </div>