<div class="policy-container mb-50">
  <div class="container ml-auto mx-auto text-center pbt-50">
    <!-- <img src="../../../assets/images/2/h1.png" alt=""> -->
    <h1 class="page-title">Private Policy</h1>
    <div aria-label="breadcrumb page-breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item ">
          <a onclick="clickNavigation('/trang-chu')" [routerLink]="['/trang-chu']">Home</a>
        </li>
        <li class="breadcrumb-item active">
          <a onclick="clickNavigation('/chinh-sach-bao-mat')" [routerLink]="['/chinh-sach-bao-mat']">Private Policy</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="container title  text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat optio soluta ullam consequuntur quasi animi dolorem, vel
    sunt, unde fuga atque. Pariatur ad nemo ab quibusdam animi consequuntur omnis eaque.
  </div> -->

  <div class="container mt-100">
    <div class="content">
      <div class="row mb-50">
        <div class="col-lg-3 col-12">
          {{'page-policy.section1.header' | translate}}
        </div>
        <div class="col-lg-8 offset-lg-1 col-12">
          {{'page-policy.section1.point1' | translate}}
        </div>
      </div>
      <div class="row mb-50">
        <div class="col-lg-3 col-12">
          {{'page-policy.section2.header' | translate}}
        </div>
        <div class="col-lg-8 offset-lg-1 col-12">
          {{'page-policy.section2.point1' | translate}}
          <br>
          <br> {{'page-policy.section2.point2' | translate}}
          <br> {{'page-policy.section2.point3' | translate}}
          <br> {{'page-policy.section2.point4' | translate}}
          <br> {{'page-policy.section2.point5' | translate}}
          <br> {{'page-policy.section2.point6' | translate}}
          <br> {{'page-policy.section2.point7' | translate}}
        </div>
      </div>
      <div class="row mb-50">
        <div class="col-lg-3 col-12">
          {{'page-policy.section3.header' | translate}}
        </div>
        <div class="col-lg-8 offset-lg-1 col-12">
          {{'page-policy.section3.point1' | translate}}
        </div>
      </div>
      <div class="row mb-50">
        <div class="col-lg-3 col-12">
          {{'page-policy.section4.header' | translate}}
        </div>
        <div class="col-lg-8 offset-lg-1 col-12">
          {{'page-policy.section4.point1' | translate}}
          <br> {{'page-policy.section4.point2' | translate}}
          <br> {{'page-policy.section4.point3' | translate}}
          <br> {{'page-policy.section4.point4' | translate}}
        </div>
      </div>
      <div class="row mb-50">
        <div class="col-lg-3 col-12">
          {{'page-policy.section5.header' | translate}}
        </div>
        <div class="col-lg-8 offset-lg-1 col-12">
          {{'page-policy.section5.point1' | translate}}
          <br> {{'page-policy.section5.point2' | translate}}
          <br> {{'page-policy.section5.point3' | translate}}
          <br> {{'page-policy.section5.point4' | translate}}
        </div>
      </div>
      <div class="row mb-50">
        <div class="col-lg-3 col-12">
          {{'page-policy.section6.header' | translate}}
        </div>
        <div class="col-lg-8 offset-lg-1 col-12">
          {{'page-policy.section6.point1' | translate}}
          <br> {{'page-policy.section6.point2' | translate}}
          <br> {{'page-policy.section6.point3' | translate}}
        </div>
      </div>
      <div class="row mb-50">
        <div class="col-lg-3 col-12">
          {{'page-policy.section7.header' | translate}}
        </div>
        <div class="col-lg-8 offset-lg-1 col-12">
          {{'page-policy.section7.point1' | translate}}
          <br> {{'page-policy.section7.point2' | translate}}      
          <br> {{'page-policy.section7.point3' | translate}}
        </div>
      </div>
    </div>
  </div>


</div>