<div class="sitemap-container mb-50">
  <div class="container ml-auto mx-auto text-center pbt-50">
    <!-- <img src="../../../assets/images/title/Coffee-Culture.svg" class="title-img" alt=""> -->
    <h1 class="page-title">Site map</h1>
    <div aria-label="breadcrumb page-breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item ">
          <a onclick="clickNavigation('/trang-chu')" [routerLink]="['/trang-chu']">Home</a>
        </li>
        <li class="breadcrumb-item active">
          <a onclick="clickNavigation('/site-map')" [routerLink]="['/site-map']">Sitemap</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="site-map container">
    <div class="row">
      <div class="col-lg-3 col-12 mb-3">
        <h5 onclick="clickNavigation('/ve-chung-toi')" [routerLink]="['/ve-chung-toi']" class="title">{{'page-sitemap.aboutus.header' | translate}}</h5>
        <ul>
          <li></li>
        </ul>
      </div>
      <div class="col-lg-3 col-12 mb-3">
        <div class="title">
          <h5 onclick="clickNavigation('/san-pham/ca-phe-hat')" [routerLink]="['/san-pham/ca-phe-hat']" class="title">{{'page-sitemap.product.header' | translate}}</h5>
        </div>
        <ul>
          <li>
            <a onclick="clickNavigation('/san-pham/ca-phe-hat')" [routerLink]="['/san-pham/ca-phe-hat']">{{'page-sitemap.product.item1' | translate}}</a>
          </li>
          <li>
            <a onclick="clickNavigation('/san-pham/ca-phe-hoa-tan')" [routerLink]="['/san-pham/ca-phe-hoa-tan']">{{'page-sitemap.product.item2' | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-12 mb-3">
        <h5 onclick="clickNavigation('/van-hoa-ca-phe')" [routerLink]="['/van-hoa-ca-phe']" class="title">{{'page-sitemap.culture.header' | translate}}</h5>
        <ul>
          <li>
            <a onclick="clickNavigation('/van-hoa-ca-phe')" [routerLink]="['/van-hoa-ca-phe']">{{'page-sitemap.culture.item1' | translate}}</a>
          </li>
          <li>
            <a onclick="clickNavigation('/share-with-us')" [routerLink]="['/share-with-us']">{{'page-sitemap.culture.item2' | translate}}</a>
          </li>
          <li>
            <a onclick="clickNavigation('/cong-thuc')" [routerLink]="['/cong-thuc']">{{'page-sitemap.culture.item3' | translate}}</a>
          </li>
          <li>
            <a onclick="clickNavigation('/tin-tuc')" [routerLink]="['/tin-tuc']">{{'page-sitemap.culture.item4' | translate}}</a>
          </li>
          <li>
            <a onclick="clickNavigation('/huong-dan')" [routerLink]="['/huong-dan']">{{'page-sitemap.culture.item5' | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-12 mb-3">
        <h5 onclick="clickNavigation('/dich-vu')" [routerLink]="['/dich-vu']" class="title">{{'page-sitemap.service.header' | translate}}</h5>
        <ul>

        </ul>
      </div>
      <div class="col-lg-3 col-12 mb-3">
        <h5 onclick="clickNavigation('/doanh-nghiep/ban-si')" [routerLink]="['/doanh-nghiep/ban-si']" class="title">{{'page-sitemap.business.header' | translate}}</h5>
        <ul>
          <li>
            <a onclick="clickNavigation('/doanh-nghiep/ban-sz')" [routerLink]="['/doanh-nghiep/ban-si']">{{'page-sitemap.business.item1' | translate}}</a>
          </li>
          <li>
            <a onclick="clickNavigation('/doanh-nghiep/xuat-khau')" [routerLink]="['/doanh-nghiep/xuat-khau']">{{'page-sitemap.business.item2' | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-12 mb-3">
        <h5 onclick="clickNavigation('/su-kien')" [routerLink]="['/su-kien']" class="title">{{'page-sitemap.event.header' | translate}}</h5>
        <ul>

        </ul>
      </div>
      <div class="col-lg-3 col-12">
        <h5 onclick="clickNavigation('/tuyen-dung')" [routerLink]="['/tuyen-dung']" class="title">{{'page-sitemap.career.header' | translate}}</h5>
        <ul>

        </ul>
      </div>
     
    </div>
    <div class="row mt-100">
      <div class="col-lg-4 col-12 mb-3">
        <h5 onclick="clickNavigation('/shipping-and-return')" [routerLink]="['/shipping-and-return']" class="title">{{'page-sitemap.shippingReturn.header' | translate}}</h5>
        <ul>

        </ul>
      </div>
      <div class="col-lg-4 col-12 mb-3">
        <h5 onclick="clickNavigation('/phuong-thuc-thanh-toan')" [routerLink]="['/phuong-thuc-thanh-toan']" class="title">{{'page-sitemap.paymentMethod.header' | translate}}</h5>
        <ul>

        </ul>
      </div>
      <div class="col-lg-4 col-12 mb-3">
        <h5 onclick="clickNavigation('/chinh-sach-bao-mat')" [routerLink]="['/chinh-sach-bao-mat']" class="title">{{'page-sitemap.privacyPolicy.header' | translate}}</h5>
        <ul>

        </ul>
      </div>
    </div>
  </div>
</div>