<div class="products-more pbt-50">
    <div class="container">
        <div *ngIf="menus">
            <div class="owl-carousel owl-theme" id="owl-menu-{{i+1}}" *ngFor="let item of menus , let i = index">
                <div class="item" *ngFor="let data of item.items" style="cursor: pointer !important">
                    <div (click)="displayItem(data)" class="text-center">
                        <img src="{{HOST_IMG}}{{data.thumbnail}}" alt="">
                        <h6 class="mt-3">{{data.name}}</h6>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>