<div class="aboutus-carrer-container">
  <div class="container ml-auto mx-auto text-center pbt-50">
    <img src="../../../assets/images/11/1.png" alt="">
    <h1 class="page-title">Recruitment</h1>
    <div aria-label="breadcrumb page-breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item "><a onclick="clickNavigation('/trang-chu')" [routerLink]="['/trang-chu']">Home</a></li>
        <li class="breadcrumb-item active"><a onclick="clickNavigation('/tuyen-dung')" [routerLink]="['/tuyen-dung']">Career</a></li>
      </ul>
    </div>
  </div>

  <app-aboutus-career-first></app-aboutus-career-first>
  <app-aboutus-career-benefits></app-aboutus-career-benefits>
  <app-aboutus-career-joinus></app-aboutus-career-joinus>
  <app-aboutus-career-form></app-aboutus-career-form>
</div>