<div class="aboutus-stories pbt-50">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mb-5 mt-5">
        <div class=" text-center ml-auto mx-auto title ">
          <img class="img-text" src="../../../assets/images/11/3.png" alt="">
          <h2 class="page-title mb-3 mt-3">What We Offer</h2>
          <img  class="w-100" src="../../../assets/images/11/2.png" alt="">
        </div>
      </div>
      <div class="col-12 col-lg-6 text-center mt-5 row-benefits m-auto">
        <div class="ulli mb-5">
            <h6 class="benefits-title mb-3">EXTRA</h6>
          <ul>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i> Lorem, ipsum dolor sit amet consectetur
              adipisicing elit</li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i> Lorem, ipsum dolor sit amet consectetur
              adipisicing elit</li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i> Lorem, ipsum dolor sit amet consectetur
              adipisicing elit</li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i> Lorem, ipsum dolor sit amet consectetur
              adipisicing elit</li>
          </ul>
        </div>
        <div class="ulli mb-5">
            <h6 class="benefits-title mb-3">healthcare</h6>
          <ul>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i> Lorem, ipsum dolor sit amet consectetur
              adipisicing elit</li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i> Lorem, ipsum dolor sit amet consectetur
              adipisicing elit</li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i> Lorem, ipsum dolor sit amet consectetur
              adipisicing elit</li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i> Lorem, ipsum dolor sit amet consectetur
              adipisicing elit</li>
          </ul>
        </div>
        <div class="ulli  mb-5">
            <h6 class="benefits-title mb-3">education & tranning</h6>
          <ul>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i> Lorem, ipsum dolor sit amet consectetur
              adipisicing elit</li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i> Lorem, ipsum dolor sit amet consectetur
              adipisicing elit</li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i> Lorem, ipsum dolor sit amet consectetur
              adipisicing elit</li>
            <li class="mb-1"><i class="fa fa-angle-double-right mr-3"></i> Lorem, ipsum dolor sit amet consectetur
              adipisicing elit</li>
          </ul>
        </div>
        
      </div>
    </div>

  </div>
</div>