<div class="aboutus-mission container pt-50">
  <div class="row">
    <div class="col-12 col-lg-6 d-lg-none d-block text-center ml-auto mx-auto mb-5">
      <img src="../../../../assets/images/title/Mission.png" alt="">
      <h3 class="about-title">Our Promises</h3>
    </div>
    <div class="col-12 col-lg-6 text-center m-auto">
      <img src="{{HOST_IMG}}{{ourMisson.thumbnail}}" class="w-100" alt="">
      <!-- <div style="width:100%;height: 300px; border: 1px solid black"></div> -->
    </div>
    <div class="col-12 col-lg-6 text-center ml-auto mx-auto mb-lg-5">
      <div class="d-lg-block d-none text-center">
        <img src="../../../../assets/images/title/Mission.png" alt="">
        <h3 class="about-title">Our Promises</h3>
      </div>
      <ul class="text-left mt-5">
        <li class="">
          <i class="fas fa-angle-double-right"></i>{{ 'page-aboutus.ourPromises.description1' | translate}}
        </li>
        <li class="">
          <i class="fas fa-angle-double-right"></i>{{ 'page-aboutus.ourPromises.description2' | translate}}
        </li>
        <li class="">
          <i class="fas fa-angle-double-right"></i>{{ 'page-aboutus.ourPromises.description3' | translate}}
        </li>
      </ul>
    </div>
  </div>
</div>