@import "../../../styles/mixins";
@import "../../../styles/variables";
@import "../../../styles/responsive";

:host{
  .history-container{
    .main{
      position: relative;
      @include font-thehill($thin-font, '', '', '');
      .card{
        z-index: 1;
        margin: auto;
        padding: 5% 0;

        th{
          @include font-thehill($main-font, 1.2em, $main-bg-color, bold);
        }
      }
    }
   
  }
}

  