  <div class="main-contain container mb-50">
    <div class="row mb-5">
      <div class="col-12 col-lg-6 text-center" style="padding-left: 0 !important;padding-right: 0 !important">
        <img class="home-bg w-100 ml-0" src="{{HOST_IMG}}{{leftImg}}"/>    
      </div>
      <div class="col-12 col-lg-6 text-center"  style="padding-left: 0 !important;padding-right: 0 !important">
        <img class="home-bg w-100 mr-0"  src="{{HOST_IMG}}{{rightImg}}"/>
      </div>
    </div>
  </div>
  <div class="home-carousel pb-50">
    <home-carousel></home-carousel>
  </div>

  


