<div class="container">
  <div class="row text-center">
    <div class="col-lg-12 col-12 text-center">
      <span>
        <a onclick="clickNavigation('/chinh-sach-bao-mat')" [routerLink]="['/chinh-sach-bao-mat']">{{'footer.sub.policy' | translate}}</a>
      </span>
      <span>
        <a onclick="clickNavigation('/site-map')" [routerLink]="[ '/site-map'] ">{{'footer.sub.site' | translate}}</a>
      </span>
    </div>
    <!-- <span class="col-3 "><a  >Terms of Use</a></span>
        <span class="col-3 "><a  >Site Map</a></span> -->

    <!-- <span class="col-3 "><a style="cursor:pointer; "  (click)="try() " >Change Language</a></span> -->

    <!-- <div class="col-lg-4 col-4 ">
      <select name="changeLang " id=" " [(ngModel)]="newLanguage" (click)="changeLanguage(newLanguage) ">
        <option value="en"><span><a >
              <div class="flag "></div><span> English</span>
            </a></span></option>
        <option value="vi"><span><a>
              <div class="flag "></div><span> Việt Nam</span>
            </a></span></option>
      </select>
    </div>
  </div> -->
</div>