<div class="aboutus-career-first container mbt-50">
  <div class="row">
    <div class="col-12 col-lg-6 text-center mb-5">
      <img class="w-100" src="../../../assets/images/11/2.png" alt="">
    </div>
    <div class="col-12 col-lg-6 m-auto mb-4">
      <div class="main">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores recusandae
          exercitationem mollitia
          laudantium molestias.</p><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores recusandae
          exercitationem mollitia
          laudantium molestias.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores recusandae
          exercitationem mollitia
          laudantium molestias</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores recusandae
          exercitationem mollitia
          laudantium molestias.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores recusandae
          exercitationem mollitia
          laudantium molestias.Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores recusandae
          exercitationem mollitia
          laudantium molestias.</p>
      </div>

    </div>
  </div>
</div>